<section id="portfolio" class="portfolio">
  <div class="text-center">
        <h1>Gallery</h1>
        <hr class="small">
          <ul class="rig columns-2">
            {% for entry in site.gallery %}
            <li > 
              <a target="_blank" href="{{ entry.source }}">
                <img alt="viz" src="{{site.url}}/{{site.baseurl}}/site/_site/assets/img/gallery/{{entry.img}}">
              </a>
                <div class="info"> 
                  <h3>{{ entry.title }}</h3> 
                  <p> {{ entry.author}} </p>
                </div>
            </li>
            {% endfor %}
          </ul>
        <a href="#" class="btn btn-dark">View More Items</a>
  </div>
  <!-- /.container -->
</section>
