# ignore these file types!
build/*
*.sw*
*.pyc
*.o
*.so
src/*egg*/*
dist/*
src/firestudio/utils/stellar_utils/BPASSv2.2.1_bin-imf135_300/*
src/firestudio/scripts/log*
src/firestudio/ntbks/.ipynb_checkpoints/*
*.code-workspace
*.sh
Untitled*ipynb
*.DS_Store
